/* ------------ IMPORTAR LIBRERIA DE TIPOGRAFIA ------------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------ VARIABLES ---------------------- */

:root {
  --color-blue: #388BA5;
  --color-dark-blue: #232E33;
  --color-white: #F1F1F1;
  --color-red: #A53838;
  --main-font: 'Roboto', Arial, sans-serif;
}

/* --------------FORMAT CSS------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.borde {
  border: 1px red solid;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

body {
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  font-family: var(--main-font);
  font-style: normal;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

/* ---------------BOTONES--------------- */

.button-1 {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  border: 2px var(--color-dark-blue) solid;
  border-radius: 10px;
}

.button-1:hover {
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  border-color: var(--color-dark-blue);
}

.button-2 {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: 2px var(--color-blue) solid;
  border-radius: 10px;
}

.button-2:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
  border-color: var(--color-blue);
}

.button-3 {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
  color: var(--color-white);
  background-color: var(--color-red);
  border: 2px var(--color-red) solid;
  border-radius: 10px;
}

.button-3:hover {
  color: var(--color-red);
  background-color: var(--color-white);
  border-color: var(--color-red);
}

/* ------------------------------------- */

.div-header {
  background-color: var(--color-blue);
}

.logo {
  color: var(--color-dark-blue);
  font-size: 24px;
  background-color: var(--color-white);
  border-radius: 100%;
  padding: 10px;
}

.sec-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.menu-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-header a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white);
  padding-left: 20px;
}

.nav-header a:hover {
  text-decoration: underline;
}

/* ------------- SEC-HOME-LANDING ---------------------------- */

.sec-land-home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  box-shadow: 0px 0px 15px #ccc;
  padding: 40px;
  border-radius: 15px;
}

.sec-land-home figure {
  max-width: 500px;
  /* border: 1px red solid; */
}

.sec-land-home img {
  width: 100%;
  display: block;
}

.sec-art-home {
  max-width: 600px;
}

.sec-art-home p,
ul {
  margin-top: 25px;
  line-height: 30px;
  text-align: justify;
}

.sec-art-home li {
  margin-left: 50px;
}

.sec-art-home h1 {
  font-size: 45px;
}

/* ----------------------------------------------------------- */
.escuelas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px 50px 0px;
  padding: 20px;
  background-color: var(--color-white);
}

.escuelas figure {
  max-width: 100px;
}

.escuelas img {
  width: 100%;
  display: block;
  filter: grayscale(1);
}

/* ----------------------------------------------------------- */
.sec-land-about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px #ccc;
  padding: 40px;
  border-radius: 15px;
}

.sec-art-about {
  max-width: 560px;
}

.sec-art-about h1 {
  font-size: 45px;
  margin-bottom: 25px;
}

.sec-art-about p {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 25px;
}