.ancho {
  max-width: 1200px;
  /* border: 1px red solid; */
  margin: auto;
}

:root {
  --color-blue: #388ba5;
  --color-dark-blue: #232e33;
  --color-white: #f1f1f1;
  --color-red: #a53838;
  --main-font: "Roboto", Arial, sans-serif;
}

/* ------------------------------------- */

.sec-pdf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin-left: 160px;
}

.art-pdf {
  margin-top: 30px;
  cursor: pointer;
}


.art-pdf figure {
  border: 2px var(--color-dark-blue) solid;
  width: 300px;
  border-radius: 10px 10px 0px 0px;
  height: 200px;
  overflow: hidden;
}

.art-pdf img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
  transition: all .10s linear;
}

.pdf-info {
  max-width: 300px;
  border-radius: 0px 0px 10px 10px;
  border: 2px var(--color-dark-blue) solid;
  border-top: none;
  padding: 15px;
  height: 150px;
  color: var(--color-dark-blue);
  transition: all .10s linear;
}

.art-pdf:hover .pdf-info {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.art-pdf:hover img {
  transform: scale(105%);
}

/* .pdf-info p {
  color: var(--color-white);
} */

/* .pdf-info a {
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  color: var(--color-white);
  margin-top: 15px;
  border: 1px var(--color-white) solid;
  border-radius: 10px;
}

.pdf-info a:hover {
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  border: 1px var(--color-dark-blue) solid;
} */

/* ------------------------------------- */

.modal_padre {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  /* border: 1px red solid; */
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--color-white);
  border: 2px var(--color-dark-blue) solid;
  border-radius: 10px;
}

.modal iframe {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  border: 1px var(--color-dark-blue) solid;
  border-radius: 10px;
}

.mostrar {
  display: flex;
}

.cerrar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 8px;
}

.cerrar a {
  display: inline-block;
  color: var(--color-red);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

/* ------------------------------------- */

.arti-main {
  flex-direction: row;
  padding: 25px 55px;
}

.arti-main figure {
  /* border: 1px red solid; */
  max-width: 1010px;
  margin: auto;
  padding: 10px;
  border: 2px var(--color-dark-blue) solid;
  color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 10px;

}

.arti-main img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all .10s linear;
}

.arti-main a {
  /* border: 1px red solid; */
  display: inline-block;
  border-radius: 10px;
  margin-left: 65px;
  margin: auto;
  /* border: 2px var(--color-white) dashed; */
  padding: 10px;
  background-color: var(--color-dark-blue);
  overflow: hidden;
}

.arti-main a:hover img {
  transform: scale(105%);
}