.button-2 {
  padding: 5px 15px;
}

.button-3 {
  background-color: var(--color-dark-blue);
  border: 2px var(--color-dark-blue) solid;
}

.button-3:hover {
  color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

.button-4 {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5px 15px;
  color: var(--color-white);
  background-color: var(--color-red);
  border: 2px var(--color-red) solid;
  border-radius: 8px;
  /* min-width: 100px; */
  transition: all .10s linear;
}

.button-4:hover {
  color: var(--color-red);
  background-color: var(--color-white);
  border-color: var(--color-red);
}

.button-5 {
  display: inline-block;
  text-align: center;
  padding: 8px 20px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: 2px var(--color-blue) solid;
  border-radius: 10px;
  font-size: 16px;
  transition: all .10s linear;
  margin-top: 20px;
}

.button-5:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
  border-color: var(--color-blue);
}


.icon-bar {
  background-color: var(--color-dark-blue);
}

.icon-bar:hover {
  color: var(--color-dark-blue);
  border-color: var(--color-dark-blue) solid;
}

/* ------------------------------------- */

.head-main {
  background-color: var(--color-red);
}

/* ------------------------------------- */

.table_cap th,
td {
  padding: 8px;
  font-size: 13px;
}

/* ------------------------------------- */

.div-alert-registro {
  position: relative;
  text-align: center;
  justify-content: center;
}

.alert-registro {
  background-color: #232e33d2;
  color: var(--color-white);
  text-align: center;
  position: absolute;
  top: 50vh;
  width: 100%;
  padding: 20px;
}

/* ------------------------------------- */

.arti-form {
  padding: 10px 50px;
  /* font-size: 14px; */
  line-height: 32px;
}

.arti-form input,
.arti-form select {
  padding: 5px;
  border: 1px var(--color-dark-blue) solid;
  border-radius: 5px;
  background-color: var(--color-white);
  width: 100%;
}

.arti-form input:hover,
.arti-form select:hover {
  border-color: var(--color-blue);
}

.arti-form input:focus,
.arti-form select:focus {
  border-color: var(--color-blue);
  outline: none;
}

/* ------------------------------------- */

.mod_form {
  text-align: center;
}

.btn-res {
  margin: 10px;
}

.mod_form input,
textarea {
  width: 100%;
  text-align: center;
  border: none;
  background-color: var(--color-white);
  padding: 10px 0;
}